    <footer class="footer">

      <div class="wrapper row-between">
        <address>
          <small>Copyright RiveraTacos {date('Y')} &copy;</small>
        </address>

        <div>
          {if isset($smarty.session.usuario)}
          <button id="btn_logout" class="btn" type="button" style="display:block">
            <i class="fas fa-sign-out-alt"></i> Salir
          </button>
          <button id="btn_login" class="btn" type="button" style="display:none;">
            <i class="fas fa-sign-in-alt"></i> Login
          </button>
          {else}
          <button id="btn_logout" class="btn" type="button" style="display:none">
            <i class="fas fa-sign-out-alt"></i> Salir
          </button>
          <button id="btn_login" class="btn" type="button" style="display:block;">
            <i class="fas fa-sign-in-alt"></i> Login
          </button>
          {/if}
        </div>
      </div>

    </footer>

    <script src="views/js/form_inicio_sesion.js"></script>
    <script src="views/js/sesion_ajax.js"></script>
  </body>
</html>
