<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas</title>
    {include file='views/inc/dependencies.html'}
  </head>

<header class="header_v">

  <div>
    <nav>
      <ul>
        <li>
          <a class="col-xs-12" id="btn_ajustes" href="#">
            <i class="fas fa-cogs"></i> Ajustes</a></li>
        <li>
          <a class="col-xs-12" id="btn_agregar_m" href="#">
            <i class="fas fa-plus"></i> Agregar Mesa</a></li>
        <li>
          <a class="col-xs-12" href="#">
            <i class="fas fa-receipt"></i> Imprimir Ticket</a></li>
        <li>
          <a class="col-xs-12" id="btn_agregar_descuento" href="#" onclick="mostrarModalDescuentos()">
            <i class="fas fa-percent"></i> Descuentos</a></li>
        <li>
          <a class="col-xs-12" href="#">
            <i class="fas fa-lock"></i> Bloquear</a></li>
        <li>
          <a class="col-xs-12" href="index">
            <i class="fas fa-door-open"></i> Salir</a></li>
      </ul>
    </nav>
  </div>

</header>
