<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas</title>
    {include file='views/inc/dependencies.html'}
  </head>

<body>
<header class="header_v">

  <div class="wrapper">
    <nav>
      <ul>
        <li><a href="#">Sucursales</a></li>
        <li><a href="#">Utilidades</a></li>
        <li><a href="#">Reportes</a></li>
        <li><a href="#">Pedidos</a></li>
        <li><a href="index">Salir</a></li>
      </ul>
    </nav>
  </div>

</header>
