<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rivera tacos</title>
    {include file='views/inc/dependencies.html'}
  </head>

  <body>
    <header class="header">

      <div class="wrapper">
        <p><img src="storage/thumbs/logo.png" alt="logo.png"></p>

        <nav class="nav col-xs-12 col-md-9 col-lg-8">
          <ul>
            <li>
              <a class="col-xs-12" href="index">
                <i class="fas fa-home"></i> Inicio
              </a>
            </li>
            {if $nivel}
            {if $nivel eq 'ventas' || $nivel eq 'root'}
              <li>
                <a class="col-xs-12" href="ventas">
                  <i class="fas fa-shopping-bag"></i> Ventas
                </a>
              </li>
            {/if}
            {if $nivel eq 'admin' || $nivel eq 'root'}
            <li>
              <a class="col-xs-12" href="administracion">
                <i class="fas fa-chart-line"></i> ADMON
              </a>
            </li>
            {/if}
            {if $nivel eq 'almacen' || $nivel eq 'root'}
            <li>
              <a class="col-xs-12" href="almacen">
                <i class="fas fa-clipboard-list"></i> Almacen
              </a>
            </li>
            {/if}
            {if $nivel eq 'rh' || $nivel eq 'root'}
            <li>
              <a class="col-xs-12" href="recursoshumanos">
                <i class="fas fa-users"></i> R.H.
              </a>
            </li>
            {/if}
            {/if}
          </ul>
        </nav>
      </div>

    </header>
{include file='views/templates/form_sesion.tpl'}
