{include file='views/inc/header.html'}
  <main>
    <div class="wrapper">
      <h1>{$titulo}</h1><hr><br>

      <div class="col-xs-12 closter">
        <a href="#">
          <div class="item">
            <img src="storage/images/Rivera´s Taco.jpg" alt="">
            <p>Productos</p>
          </div>
        </a>

        <div class="item">
          <img src="storage/images/Rivera´s Taco.jpg" alt="">
          <p>Inventarios</p>
        </div>
        <div class="item">
          <img src="storage/images/Rivera´s Taco.jpg" alt="">
          <p>Inventarios</p>
        </div>
        <div class="item">
          <img src="storage/images/Rivera´s Taco.jpg" alt="">
          <p>Inventarios</p>
        </div>
      </div>

    </div>
  </main>
{include file='views/inc/footer.html'}
