<body class="body">
  <div class="">
    <div class="wrapper">
      <div class="closter_productos">
        <button class="diseño_m" type="button" name="button">Usuarios</button>
      </div>

      <div class="closter_productos">
      <button class="diseño_m" type="button" name="button">Solicitud de Empleo</button>
      </div>

      <div class="closter_productos">
        <button class="diseño_m" type="button" name="button">Reportes</button>
      </div>

      <div class="closter_productos">
        <button class="diseño_m" type="button" name="button">Trabajadores</button>
      </div>

    </div>
  </div>

</body>
