.closter {
  padding: 15px;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  justify-content: space-between;
    .btn-categoria {
    border-radius: 4px;
    border: solid 1px #7850da;
    background: #7850da;
    color: #fff;
  }
  & img {
    width: 100%;
  }
  & .item {
    overflow: hidden;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    & p {
      color: #e6e9f6;
      background: #15213b;
      padding: 10px 10px;
    }
  }
}

.fondo {
  height: 100vh;
  background: #d7d5d5;
  & .closter_mesas {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    justify-content: space-around;
    & .diseno_m  {
        height: 15vh;
        min-height: 70px;
        background: linear-gradient(to bottom, rgba(196,166,120,1) 0%, rgba(182,141,76,1) 100%);
        margin: 20px 15px;
        border-radius: 6px;
        border: none;
        font-size: 25px;
        transition: 0.2s;
      &:hover {
        cursor: pointer;
        box-shadow: inset 0 0 10px #000;
      }
      &:active {
        box-shadow: inset 0 0 18px #000;
      }
    }
  }
}


.closter_productos {
  display: grid;
  grid-template-columns: 120px 120px 120px;
  grid-gap: 20px;
  justify-content: space-around;
  font-size: .9em;
  max-height: 60vh;
  overflow: auto;

  & div {
    padding: 5px 8px;
    background: #c1c1c1;
    height: 160px;
    border-radius: 4px;
    border: solid 1px #908f91;
  }
}

.caja {
  float: left;
  margin: 10px;

}
