.wrapper {
  margin: auto;
  width: 1400px;
  max-width: 95vw;
}

.flex-end {
  display: flex;
  flex-direction: row-reverse;
}

.flex-align {
  align-items: center;
}

.text-center {
  text-align: center;
}
