.footer {
  background: #2e2d2d;
  font-family: sans-serif;
  padding: 20px 0;
  color: #d1d1d1;
  & .btn {
    background: #333333;
    border: solid 1px #818383;
    color: #dfdddd;
    &:hover {
      background: #000;
      border: solid 1px #fff;
      color: #fff;
    }
  }
}
