.form {
  padding: 10px;
}

input, select, textarea {
  font-size: 15px;
  padding: 8px 10px;
  border: solid 1px #ababab;
  border-radius: 4px;
  margin-bottom: 10px;
  &:focus {
    border: solid 1px #4f8bff;
    box-shadow: 0 0 4px #4f8bff;
  }
}
