main {
  padding: 20px 0;
  background: $rivera_bgcolor;
  color: $rivera_color;
  min-height: 70vh;
  h1 {
    margin-bottom: 10px;
  }
}


body {
  letter-spacing: 0.4px;
  background: #2d2020;
  font-size: 18px;
}
