.tabs {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    list-style: none;
    & .tab {
        padding: 0;
        color: #000;
        background: #cccccc;
        display: inline-block;
        text-decoration: none;
        padding: 20px;
        border: solid 1px #c1c1c1;
        border-bottom: 0;
        position: relative;
        top: 1px;
    }

    & .active {
        background: #f1f1f1;
        padding-bottom: 21px;
    }
}


.tab_content {
   display: none;
   padding: 20px;
   background: #f1f1f1;
   border: solid 1px #c1c1c1;
}

.tabs_content .show {
   display: block;
}