* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$rivera_color: #000;
$rivera_bgcolor: #b4b4b4;

@import 'constants';
@import 'column_system';
@import 'alerts';
@import 'header';
@import 'navbar';
@import 'main';
@import 'aside';
@import 'footer';
@import 'tables';
@import 'forms';
@import 'buttons';
@import 'rows';
@import 'list';
@import 'images';
@import 'modal';
@import 'flexslider';
@import 'closters';
@import 'jumbotron';
@import 'tabs';
